body {
    background-color: whitesmoke;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.divBox {
    display: inline-block;
    width: 200px;
    height: 400px;
    border: 10px solid white;
    margin: 10px;
}

.divBox > div {
    width: 200px;
    height: 100px;
    background-color: white;
    position: relative;
}

main > div:nth-child(1) {
    background-color: #FF6347;
}

main > div:nth-child(2) {
    background-color: #008080;
}

main > div:nth-child(3) {
    background-color: #DEB887;
}

main > div:nth-child(4) {
    background-color: #D7BFD7;
}