.screen_header__icon_setting {
  position: relative;
}

.screen_header__icon_alert {
  color: tomato;
  position: absolute;
  bottom: 16px;
  font-size: 6px;
}

.recommended_friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended_friends__title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended_friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.open_chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 20px;
}

.open_chat__header span {
  opacity: 0.6;
}

/* Open Post */

.open_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open_post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open_post__hashtag {
  text-transform: uppercase;
  opacity: 0.6;
}

.open_post__members {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.open_post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 6px;
}

.open_post__member_count {
  opacity: 0.5;
  font-size: 12px;
}

.open_post__members .divider {
  width: 2px;
  height: 10px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open_post__memeber_status {
  color: #ffb0e0;
}

.open_post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open_post__photo {
  position: relative;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(2);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open_post__heart_count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open_post__heart_count span {
  margin-left: 3px;
}

.open_post__heart_count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
