.user_component {
  justify-content: space-between;
  margin-bottom: 30px;
}

.user_component,
.user_component__column:first-child {
  display: flex;
  align-items: center;
}

.user_component__avatar {
  width: 64px;
  height: 64px;
  border-radius: 28px;
  margin-right: 20px;
}

.user_component__avatar_xl {
  width: 80px;
  height: 80px;
  border-radius: 34px;
}
.user_component__nick {
  font-weight: 600px;
  font-size: 24px;
  color: black;
}
.user_component__subtitle {
  margin-top: 5px;
  font-size: 18px;
  color: rgb(0, 0, 0, 0.3);
}

.user_component__avatar_sm {
  width: 60px;
  height: 60px;
  border-radius: 24px;
}

.user_component__not_bold {
  font-weight: 400;
}

.user_component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user_component__time {
  display: block;
  margin-bottom: 5px;
}

.screen_header__icon_setting:hover {
  cursor: pointer;
}

.screen_header__icon_find:hover {
  cursor: pointer;
}
