html {
  border: 10px solid #5126ff;
  height: 100vh;
}
@media screen (width: 600) body {
  font-family: "Oswald", sans-serif;
  width: 80%;
}

.header-playlist {
  display: flex;
  justify-content: center;
  position: relative;
}

.header-playlist .header-playlist__X {
  display: flex;
  margin: 0 10px;
  position: absolute;
}

.header-playlist .header-playlist__title {
}

.play-now {
  display: flex;
  justify-content: space-around;
}

.play-now .play-now__thumbnail {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0px 10px;
}

.play-now .play-now__thumbnail .fa-image {
  align-self: center;
  font-size: 90px;
}

.play-now div .play-now__title {
  display: flex;
  flex-direction: column;
}

.play-now div .play-now__title h2,
p {
  margin: 5px;
  line-height: 150%;
}

.player__button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.player__button button {
  background-color: white;
  border: 2px solid black;
  border-bottom-width: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.player__button button:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #eceff1;
  background-color: #2f6614;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.player__button button:active {
  top: 4px;
}

.player__button button:first-child {
  width: 150px;
  height: 50px;
  margin: 10px 20px 10px 0;
  text-align: center;
  border-radius: 20px;
}

.player__button button:nth-child(n + 2) {
  width: 50px;
  height: 50px;
  margin: 10px 20px 10px 0;
  border-radius: 50%;
}

.player__button button span,
i {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.play-next-list {
}

.play-next-list__square {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0px 10px;
}

.play-next-list div {
  display: flex;
  align-items: center;
}

.play-next-list div:first-child .play-next-list__square {
  background-color: tomato;
}
.play-next-list div:nth-child(2) .play-next-list__square {
  background-color: darkgreen;
}
.play-next-list div:nth-child(3) .play-next-list__square {
  background-color: tan;
}
.play-next-list div:nth-child(4) .play-next-list__square {
  background-color: sandybrown;
}

.play-next-list div .play-next-list__title {
  display: block;
}
