@import "../reset.css";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Lato&family=Nanum+Gothic&display=swap");

@import "nav.css";
@import "music_info.css";
@import "music_list.css";
@import "play_bar.css";
@import "play_info.css";

body {
  height: 100vh;
  width: auto;
  font-family: "Abel", sans-serif, "Lato", sans-serif, "Nanum Gothic",
    sans-serif;
}

@media (max-width: 720px) {
  body {
    height: 100vh;
    width: 800px;
    font-family: "Abel", sans-serif, "Lato", sans-serif, "Nanum Gothic",
      sans-serif;
  }

  .page_main {
    display: flex;
    width: -webkit-fill-available;
    background: linear-gradient(#f0ffff, rgb(204, 231, 255));
  }
}
@media (min-width: 1000px) {
  body {
    height: 100vh;
    width: 800px;
    font-family: "Abel", sans-serif, "Lato", sans-serif, "Nanum Gothic",
      sans-serif;
  }

  .page_main {
    display: flex;
    width: -webkit-fill-available;
    background: linear-gradient(#f0ffff, rgb(204, 231, 255));
  }
}

.page_main {
  display: flex;
  background: linear-gradient(#f0ffff, rgb(204, 231, 255));
}

.page {
  margin: 10px 20px;
  border-radius: 40px;
  background-color: snow;
  width: 50%;
}

.page_player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

button:hover {
  cursor: pointer;
}
